//
//	VARIABLES
// ------------------------------------------------------

$font-size-base: 100%;
$font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;


$color-text:  #323232;
$color-bg-body: #f9f9f9;
$color-title: #fefdfd;
$color-contact: #B6B6B6;
$color-bg-item: #fff;
$color-item-h4: #757575;
$color-item-add: #dddddd;
$color-add-category: #ACACAC;
$color-bg-button: #42C88D;


$animation-speed: .25s;




$page-cover: (
  'home': 	(linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pexels-photo-261187.jpeg') center -137px),
  'architektura':  (linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pexels-photo-261187.jpeg') center -137px),
  'jedlo': 	(linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/food-salad-healthy-lunch.jpg') center -137px),
  'auta':  (linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pexels-photo-210019.jpeg') center -137px),
  'priroda':  (linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/landscape-meadow-field-mountains-66874.jpeg') center -137px),
  'ludia': (linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/pexels-photo-27411.jpg') center -137px)
);


